<div id="fh5co-portfolio">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-tc js-fullheight">
          <h1>ポートフォリオです</h1>
          <h2>オススメのお店教えちゃいます！！</h2>
          <h2>(仮)</h2>
          <% if Restaurant %>
            <%= link_to "今日のお勧めはここ!!", restaurant_path(random) %>
          <% end %>
        </div>
        <h3>レストラン一覧</h3>
      </div>
      <div class="col-md-9">
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
</header>
