<div id="fh5co-portfolio">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-tc top-space">
          <%= image_tag "/images/tabeGoo!_logo.png", :alt => "たべGoo!-logo",
          id: 'top-logo', class: "animate__animated animate__jackInTheBox" %>
          <h2>マネージャーまとばの</br>オススメのお店教えちゃいます！！</h2>
            <div class="recomend-box">
              <% if Restaurant %>
                <%= link_to "まとばのお勧めに”たべGoo”!!", restaurant_path(random), class: "recomend" %>
              <% end %>
            </div>
        </div>
      </div>
      <div class="col-md-9">
        <h3>レストラン一覧</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
</header>
