<center>
  <h1>ポートフォリオです</h1>
  <h2>オススメのお店教えちゃいます！！</h2>
  <% if Restaurant %>
    <%= link_to "まとばのお勧めはここ!!", restaurant_path(random) %>
  <% end %>
</center>
<div class="container">
  <h3>レストラン一覧</h3>
  <%= render 'shared/feed' %>
</div>
