  <div class="col-xs-12">
    <% @related_restaurants.each do |restaurant| %>
      <div class="col-xs-4 clearfix owl-carousel owl-example owl-theme">
        <%= link_to restaurant_path(restaurant.id) do %>
          <div class="related_images">
            <% if restaurant.images? %>
              <%= image_tag restaurant.images[0].url %>
            <% end %>
          </div>
          <div class="restaurantCaption clearfix">
            <h5><%= restaurant.name %></h5>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>