<% provide(:title, "レストラン登録") %>
<div id="fh5co-portfolio">
  <div class="container">
    <h1>レストラン登録</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= render 'restaurants/restaurant_form' %>
      </div>
    </div>
  </div>
</div>
